header {
  margin-top: 70px;
  display: flex;
  /* border: 1px solid red; */
  height: 50px;
  width: 100%;
}

header > div:first-child {
  width: 20%;
}
header > div:last-child {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 0.5%;
}
header > div:last-child input {
  width: 300px;
  padding-left: 7px;
  padding-right: 5px;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  background-color: rgb(238, 245, 253);
  font-size: 17px;
}

.fill {
  cursor: pointer;
  display: none;
}

@media screen and (min-width: 250px) and (max-width: 500px) {
  header > div:first-child {
    width: 0%;
  }

  header > div:last-child {
    width: 100%;
  }

  .fill {
    display: inline;
  }
}
